:root {
  --font-family: 'Nunito Sans', sans-serif;
  --second-family: 'NEXT ART', sans-serif;

  --bg-first-color: #ffffff;
  --bg-color-2: #f3f5f4;
  --btn-color: #1a3e3e;
  --btn-second-color: #fdfdfd;
  --text-second-color: #fdfdfd;
  --form-text-color: #E1E3E4;
  --subtitle-color: #f2be22;
  --hover-color: #f2be22;
  --title-color: #18121e;
  --description-color: #18121e;
  --bg-bottom-footer-color: #18121e;
  --bg-icon-color: #FDFDFD66;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
ol,
li,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}
