.a-tag {
  text-decoration: none;
  color: inherit;
}
.footer {
  background-color: var(--btn-color);
  width: 100vw;
}
.footer-top {
  padding: 176px 0 80px;
}
.footer-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1197px;
}
.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 0 10px;
}
.footer-items:first-of-type {
  max-width: 480px;
}
.footer-items {
  flex: 1;
  max-width: 280px;
}
.footer-title {
  margin: 0 0 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-second-color);
}
.footer-text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-second-color);
}
.footer-contacts {
  display: flex;
  margin: 80px 0 32px;
  gap: 24px;
}
.footer-contact {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  color: var(--text-second-color);
  transition: all 0.1s;
}
.footer-socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 21px;
}
.footer-social {
  width: 26px;
  height: 26px;
  fill: var(--text-second-color);
  transition: all 0.1s;
}
.footer-social:hover {
  fill: var(--hover-color);
  transition: all 0.1s;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list-item {
  display: flex;
  align-items: baseline;
}
.footer-list-item + .footer-list-item {
  margin-top: 16px;
}
.footer-arrow {
  margin-right: 10px;
  width: 6px;
  height: 10px;
  fill: var(--text-second-color);
  transition: all 0.1s;
}

.footer-arrow:hover {
  fill: var(--hover-color);
  transition: all 0.1s;
}

.footer-link {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration: underline 1px solid rgba(0, 0, 0, 0);
  text-decoration: underline 1px solid rgba(0, 0, 0, 0);
  color: var(--text-second-color);
  transition: all 0.1s;
}
.footer-link--new::after {
  content: 'NEW';
  margin-left: 8px;
  border-radius: 4px;
  padding: 2px 10px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  -webkit-text-decoration: underline 1px solid var(--text-second-color);
  text-decoration: underline 1px solid var(--text-second-color);
  text-transform: lowercase;
  color: var(--btn-color);
  background: var(--text-second-color);
}
.footer-bottom {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-second-color);
  background-color: var(--bg-bottom-footer-color);
}
.footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 0;
  gap: 8px;
  margin-left: 10px;
  margin-right: 20px;
}
.footer-info {
  margin: 0;
}
.footer-info:hover {
  -webkit-text-decoration: underline 1px solid var(--hover-color);
  text-decoration: underline 1px solid var(--hover-color);
  color: var(--hover-color);
}
.footer-policy {
  margin: 0;
  text-align: center;
  text-decoration: underline;
  transition: all 0.1s;
  cursor: pointer;
}

@media (max-width: 576px) {
  .footer-top {
    padding: 40px 0;
  }
  .footer-contacts {
    margin: 30px 0;
  }
  .footer-bottom-wrapper {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .footer-top-wrapper {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-items {
    flex: 1 1 280px;
  }
}

.footer-list-item:hover .footer-link {
  -webkit-text-decoration: underline 1px solid var(--hover-color);
  text-decoration: underline 1px solid var(--hover-color);
  color: var(--hover-color);
}

.footer-contact:hover {
  -webkit-text-decoration: underline 1px solid var(--hover-color);
  text-decoration: underline 1px solid var(--hover-color);
  color: var(--hover-color);
}