.section-3-programs {
  background-color: var(--bg-second-color);
}
.section-3-sec {
  display: block;
  unicode-bidi: isolate;
}
.section-3-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1197px;
}
.section-3-dives {
  display: block;
  unicode-bidi: isolate;
}
.section-3-programs-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  gap: 15px;
}
.section-3-programs-content {
  flex: 1;
  max-width: 580px;
}
.section-3-subtitle {
  margin: 0 0 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: var(--subtitle-color);
}
.section-3-par {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.section-3-title {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: var(--title-color);
}
.section-3-h2st {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.section-3-programs-text {
  margin: 0 0 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--description-color);
}
.section-3-ulcl {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.section-3-programs-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0 0 40px;
  padding: 0;
  gap: 40px;
}
.section-3-lip {
  display: list-item;
  unicode-bidi: isolate;
}
.section-3-programs-item {
  position: relative;
  padding-left: 66px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--description-color);
}
.section-3-programs-item-title {
  display: block;
  margin-bottom: 4px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.216px;
  color: var(--title-color);
}
.section-3-programs-price {
  width: 236px;
  height: 52px;
}
.section-3-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.192px;
  color: var(--btn-second-color);
  background: var(--btn-color);
  transition: all 0.3s;
  cursor: pointer;
}
.section-3-btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.192px;
  color: var(--btn-color);
  background: var(--btn-second-color);
  transition: all 0.3s;
  cursor: pointer;
}
.section-3-programs-media {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 510px;
  gap: 10px;
}
.section-3-images {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.section-3-icons {
  float: left;
  margin-left: -65px;
  max-width: 100%;
  height: auto;
}



@media (max-width: 992px) {
    .section-3-programs-wrapper {
        padding: 75px 0;
    }
    
    .section-3-programs-content {
        flex: 3;
    }
    
    .section-3-programs-media {
        justify-content: center;
        grid-template-columns: 150px;
    }
}

@media (max-width: 576px) {
    .section-3-subtitle {
        font-size: 16px;
    }
    
    .section-3-title {
        margin-bottom: 32px;
        font-size: 24px;
    }
    
    .section-3-programs-wrapper {
        padding: 50px 0;
    }
    
    .section-3-programs-text {
        margin-bottom: 32px;
        font-size: 16px;
    }
    
    .section-3-programs-items {
        margin-bottom: 32px;
        gap: 32px;
    }
    
    .section-3-programs-price {
        margin: 0 auto;
        width: 212px;
        height: 44px;
    }
    
    .section-3-programs-media {
        display: none;
    }
}