@font-face {
  font-family: 'NEXT ART Regular';
  src: url('../fonts/AnyConv.com__NEXT\ ART_Regular.woff2') format('woff2'),
       url('../fonts/NEXT\ ART_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NEXT ART Light';
  src: url('../fonts/AnyConv.com__NEXT\ ART_Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NEXT ART Bold';
  src: url('../fonts/NEXT\ ART_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #ffffff;
  --color-grey: #E1E3E4;
  --color-white-70: rgba(255, 255, 255, 0.7);
  --font-size-base: 16px;
  --padding-md: 12px;
  --radius-md: 8px;
  --radius-lg: 10px;
}

.section1 {
  height: 944px;
  background-image: url("../images/section1/background-img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.section1-header {
  display: flex;
  position: relative;
  flex-direction: row;
  color: var(--color-white);
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  max-width: 1180px;
  font-family: "NEXT ART Light", normal;
}

.section1-header__logo,
.section1-header__title {
  position: relative;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.section1-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  padding: 0 24px;
  gap: 40px;
}

.section1-header__list {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
  font-family: "NEXT ART Light", sans-serif;
  font-weight: 500;
}

.section1-header__button {
  margin-left: 32px;
  background-color: #1A3E3E;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 44px;
  width: 160px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  font-family: "NEXT ART Light", sans-serif;
}

.section1-header__button:hover {
  background-color: var(--color-white);
  color: #1b1b1b;
  border: solid 1px var(--color-white);
  transition: background 0.3s;
}

.section1-header__item:hover {
  color: #F2BE21;
}

.section1-menu__icon {
  display: none;
}

.section1-title {
  display: flex;
  color: var(--color-white);
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  max-width: 1180px;
  margin: auto;
  text-align: left;
  padding-top: 416px;
  margin: 40px auto;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'NEXT ART Bold', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

.section1-form-container {
  position: relative;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  backdrop-filter: blur(8px);
  max-width: 1180px;
  height: 180px;
  font-family: "NEXT ART Light", sans-serif;
}

.section1-form__group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 220px;
}

.section1-form__label {
  color: var(--color-grey);
  font-weight: bold;
  margin-bottom: 8px;
}

.section1-form__input,
.section1-form__select,
.section1-form__date {
  background: transparent;
  border: 2px solid var(--color-grey);
  color: var(--color-white);
  border-radius: var(--radius-md);
  padding: var(--padding-md);
  font-size: var(--font-size-base);
  height: 52px;
}

.section1-form__input::placeholder,
.section1-orm__select,
.section1-form__date {
  color: var(--color-grey);
  font-family: var(--font-family);
  font-weight: 400;
}

.section1-form__hint {
  color: var(--color-grey);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  margin-top: 4px;
  max-width: 270px;
  padding-left: 10px;
}

.section1-form__button {
  background: var(--color-white);
  color: #1b1b1b;
  padding: 16px 32px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  border:  solid 1px var(--color-white);
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 18px;
  max-width: 215px;
}

.section1-form__button:hover {
  background: #1A3E3E;
  color: var(--color-white);
  border: solid 1px var(--color-white);
}

.section1-form__date-range {
  display: flex;
  gap: -1px;
}

.section1-form__date-range-wrapper {
  display: flex;
  border: 2px solid var(--color-grey);
  border-radius: var(--radius-lg);
  overflow: hidden;
  background: transparent;
}

.section1-form__date {
  background: transparent;
  color: var(--color-grey);
  padding: 12px 5px;
  font-size: var(--font-size-base);
  border: none;
  outline: none;
  width: 100%;
}

.section1-input-left {
  border-right: none;
  max-width: 270px;
}

.section1-input-right {
  border-left: none;
  max-width: 270px;
}

.section1-form__date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media (max-width: 1100px) {
  .section1 {
    height: 1019px;
  }
  .section1-header__logo,
  .section1-header__title {
    margin: 0;
  }

  .section1-header__nav {
   display: none;
  } 

  .section1-title {
    padding-left: 20px;
  }

  .section1-menu__icon {
    position: absolute;
    width: 24px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 20px;
    right: 0;
  }
  
  .section1-menu__icon span {
    height: 3px;
    background-color: white;
    border-radius: 1px;
  }

  .section1-form-container {
    padding-left: 20px;
  }
  .section1-form__button {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .section1-title {
    padding-top: 270px;
    padding-left: 40px;
    font-size: 36px;
  }

  .section1-form-container {
    height: 250px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 40px;
  }

  .section1-form__group {
    flex: 1 1 48%;
    min-width: 200px;
  }

  .section1-form__date {
    max-width: 212px;
  }

  .section1-form__label {
    margin: 0;
  }

  .section1-form__button {
    width: 212px;
    margin-bottom: 14px;
  }

  .section1-form__select {
    max-width: 460px;
    height: 52px;
  }

  .section1-form__select--participants {
    max-width: 650px;
  }
}

@media (max-width: 700px) {
  .section1 {
    height: 1039px;
  }

  .section1-title {
    padding-top: 350px;
    padding-left: 0;
  }

  .section1-form-container {
    height: 373px;
    padding: 40px 20px;
  }

  .section1-form__group {
    flex: 1 1 1 48%;
    min-width: 49%;
    max-width: 100%;
    padding: 0;
    margin: 0
  }

  .section1-form__date {
    max-width: 255px;
  }

   .section1-form__select {
    width: 100%;
    max-width: 100%;
  }
  
  .section1-form__select--participants {
    max-width: 100%;
  }
}

@media (max-width: 577px) {
  .section1 {
    height: 588px;
  }
  .section1-title {
    padding-top: 200px;
    font-size: 28px;

  }

  .section1-form__group {
    display: none;
  }

  .section1-form-container {
    padding: 0px;
    margin: 0 auto;
    height: 52px;
    width: 212px;
  }

  .section1-form__button {
    width: 100%;
    margin: 0;
  }

}