<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>РумТибет</title>
    <link rel="stylesheet" href="./header/section-1.css">
</head>
<body>
    <main>
    <section>
        <header class="header">
            <img src="../images/vector/logo.png" alt="logo" class="header__logo header">
            <nav class="header__nav header">
                <ul class="header__list">
                    <li class="header__item">Главная</li>
                    <li class="header__item">Про гида</li>
                    <li class="header__item">Программа тура</li>
                    <li class="header__item">Стоимость</li>
                    <li class="header__item">Блог</li>
                    <li class="header__item">Контакты</li>
                </ul>
                <button class="header__button">Консультация</button>
            </nav>
        </header>

        <h1>Насладитесь прогулской в горах с командой единомышленников</h1>
       <form class="form-container">
  <div class="form__group">
    <select class="form__select">
      <option value="" disabled selected>Локация для тура</option>
      <option value="altai">Алтай</option>
      <option value="baikal">Байкал</option>
      <option value="kamchatka">Камчатка</option>
    </select>
    <span class="form__hint">выберите из списка</span>
  </div>

  <div class="form__group">
  <div class="form__date-range-wrapper">
    <input type="date" class="form__date input-left">
    <input type="date" class="form__date input-right">
  </div>
  <span class="form__hint">укажите диапазон</span>
</div>

  <div class="form__group">
    <select class="form__select">
      <option value="" disabled selected>Участники</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6+</option>
    </select>
    <span class="form__hint">минимум 4 человека</span>
  </div>

  <button type="submit" class="form__button">Найти программу</button>
</form>
    </section>
    </main>
</body>
</html>